@media screen and (min-width: 1000px){
    .grid-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 35% 35% 10%;
        grid-template-areas: 
        'l_header header R_header'
        'debout debout debout'
        'sol sol sol'
        'l_footer footer r_footer';
    }
    header{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .banniere{
    position: relative;
    right: 0;
    bottom: 0;
    font-size: 120px;
   }
   .social{
    grid-area: R_header;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
   }
   .facebook, .twitter, .instagram{
    width: 35px;
    margin: 5px;   
    }
    .PersoDebout{
        width: 178px;
        height: 461px;
        left: -30px;
        top: -250px;
    }
    .debout{
        width: 700px;
        height: 250px;
        left: 90px;
        top: 80px; 
    }
    .PersoSol{
        width: 339px;
        height: 462px;
        right: -90px;
        top: -290px; 
    }
    .breakdance{
        width: 700px;
        height: 250px;
        bottom: -80px;
        right: -650px; 
    }
    .titre{
        font-size: 50px;
    }
    .jour, .tarif{
        font-size: 30px;
    }
    .tarif{
        margin-right: 40%;
    }
    .jour{
        margin: 0px 15% 50px auto;
    }
    .home{
        right: 1200px;
    }
    .spectacle, .home{
        opacity: 70%;
        font-size: 20px;
    }
    
}