@media screen and (min-width: 400px) and (max-width: 700px){
    body{
        height: 100vh;
        }
    .perso2{
        width: 430px;
        left: -130px;
    }
    .asso{
        top: 700px;
        right:95px;
        font-size: 25px;
    }
    .contact, .social{
        margin-bottom: 200px;
    }
    .evenement, .cours{
        top: 10px;
    }
    .evenement{
        left: 8px;
    }
    .cours{
        left: 35px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .banniere{
        font-size: 90px;
        position: relative;
        top: -15px;
    }
    
    .perso2{
        width: 500px;
        left: -130px;
    }
    .asso{
        top: 79%;
        right:290px;
        font-size: 25px;
    }
    .contact, .social{
        margin-bottom: 150px;
    }
    .house{
        width: 70px;
    }
    .mail{
        width: 50px;
        top: 15px;
        left: 3px;
    }
    .mobile{
        width: 60px;
       
    }
    .house, .mobile, .mail{
        padding: 20px 40px;
    }
    .facebook, .twitter, .instagram{
        width: 45px;
    }
    .instagram{
        bottom: -25px;
        right: 45px;
    }
    .twitter{
        bottom: 44px;
        right: 45px;
    }
    .facebook{
        bottom: 115px;
        right: 45px;
    }
    .cours, .evenement{
        font-size: 25px;
    }
    .cours{
        top: 40px;
        left: 65px;
    }
    .evenement{
        top: 40px;
        left: 30px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1900px) {
    .grid-container{
        display: grid;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 40% 40% 20%;
        grid-template-areas: 
        'G_header header social'
        'l_main main main'
        'contact footer r_footer';
    }
    header{
        grid-area: header;
    }
    .banniere{
        font-size: 120px;
        position: relative;
        left: 250px;
        top: -40px;
    }
    .social{
        grid-area: social;
        margin-bottom: 10px;
    }
    .contact{
        grid-area: contact;
        margin-bottom: 10px;
    }
   
    .cours{
        grid-area: r_footer;
        font-size: 40px;
        position: relative;
        height: 50px;
        width: 130px;
        top: 100px;
        left: 125px;
    }
   
    .evenement{
        grid-area: r_footer;
        font-size: 40px;
        position: relative;
        left: 10px;
        top: 20px;
        width: 250px;
        height: 50px;  
    }
    
    .titreAsso{
        grid-area: footer;
        position: relative;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
    }
    .asso{
        rotate: 90deg;
        font-size: 30px;
        margin: 0;
        top: -50px;
        right: 0;
        justify-content: center;
        align-items: end;
       
    }
    main{
        grid-area: main;
        position: relative;
        }    
    .perso2{
        position: absolute;
        width: 600px;
        top: -300px;
        left: -130px;
    }
   
    .colonne2{
        position: absolute;
        width: 3.75px;
        height: 50px;
        background-color: white;
        bottom: 250px;
        right: 0;
        opacity: 0;
        
        animation:  4s ease-out 3s forwards expand4;
    }
    @keyframes expand4 {
        from{
            opacity: 0;
            right: 0;
            transform: scalex(0);
            transform-origin: right;
        }
        to{
        transform-origin: right;
        transform: scaleX(200);
        opacity: 100%; 
        }
    } 
    
    .colonne3{
        position: absolute;
        width: 4px;
        height: 60px;
        background-color: white;
        bottom: 150px;
        right: 0;
        opacity: 0;
        animation:  4s ease-out 3s forwards expand5;
    }
    @keyframes expand5 {
        from{
            opacity: 0;
            right: 0;
            transform: scalex(0);
            transform-origin: right;
        }
        to{
            transform-origin: right;
        transform: scaleX(250);
        opacity: 100%; 
        }
    } 
}