@media (min-width: 400px) and (max-width: 450px){
    .grid-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 35% 35% 10%;
        grid-template-areas: 
        'header header header'
        'debout debout debout'
        'sol sol sol'
        'l_footer footer r_footer';
    }
    body{
        height: 100vh;
    } 
    .banniere{
        position: relative;
        top: 30px;
        left: 130px;
        font-size: 80px;
        width: 265px;
    }
    .PersoDebout{
        width: 108px;
        height: 261px;
        left: -30px;
        top: -160px;
    }
    .debout{
        width: 320px;
        height: 200px;
        left: 50px;
        top: 40px;
        display: flex;
        align-items: center; 
    }
    .titre{
        font-size: 30px;
        margin: 0;
    }
    .jour, .tarif{
    font-size: 19px;
    }
    .jour{
        margin-left: 30px;
        margin-top: 5px;
    }
    .breakdance{
        width: 320px;
        height: 200px;
        bottom: -80px;
        left: 30px;
        
    }
    .PersoSol{
        width: 189px;
        height: 312px;
        right: -70px;
        top: -150px; 
    }
    }
@media (min-width: 700px) and (max-width: 1000px){
    .banniere{
        position: relative;
        top: 0px;
        right: -270px;
        font-size: 120px;
        width: 265px;
    }
    .debout{
        width: 520px;
        height: 200px;
        left: 100px;
        top: 80px;
        display: flex;
        align-items: center;
    }
    .PersoDebout{
        width: 200px;
        height: 401px;
        left: -50px;
        top: -190px;
    }
    .titre{
        font-size: 40px;
        margin: 0px 10% 5px auto;
    }
    .jour{
        margin: 0px 8% 15px auto;
        font-size: 20px;
    }
    .prix{
        padding-top: 30px;
        font-size: 20px;
    }
    .tarif{
        display: flex;
        margin-right:80px;
        margin-left: 80px;
        justify-content: start;
        font-size: 20px;
    }
    .promo{
        font-size: 15px;
    }
    .breakdance{
        width: 520px;
        height: 200px;
        bottom: -140px;
        right: -120px; 
    }
    .PersoSol{
        width: 354px;
        height: 376px;
        right: -80px;
        top:-250px;    
    }
    .titre1{
        font-size: 40px;
        margin: 0px 25% 5px auto;
    }
    .jour1{
        margin: 0px 17% 15px auto;
        font-size: 20px;
    }
    .prix1{
        padding-top: 30px;
        font-size: 20px;
    }
    .tarif1{
        display: flex;
        margin-right:160px;
        margin-left: 20px;
        justify-content: start;
        font-size: 20px;
    }
    .promo1{
        font-size: 15px;
    }
    .spectacle{
        font-size: 30px;
    }
    .home{
        font-size: 30px;
    }
   
}
@media screen and (min-width: 1000px) and (max-width: 1900px){
    .grid-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 35% 35% 10%;
        grid-template-areas: 
        'l_header header R_header'
        'debout debout debout'
        'sol sol sol'
        'l_footer footer r_footer';
    }
    header{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .banniere{
    position: relative;
    right: 0;
    bottom: 0;
    font-size: 150px;
   }
   .social{
    grid-area: R_header;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
   }
   .facebook, .twitter, .instagram{
    width: 35px;
    margin: 5px;   
    }
    .PersoDebout{
        width: 148px;
        height: 431px;
        left: -30px;
        top: -210px;
    }
    .debout{
        width: 600px;
        height: 200px;
        left: 90px;
        top: 80px; 
    }
    .PersoSol{
        width: 339px;
        height: 462px;
        right: -90px;
        top: -290px; 
    }
    .breakdance{
        width: 600px;
        height: 200px;
        bottom: -80px;
        left: 50%; 
    }
    .titre{
        font-size: 40px;
    }
    .jour, .tarif{
        font-size: 25px;
    }

    .jour{
        margin: 5px 15% 5px auto;
    }
    .prix{
        padding-top: 30px;
        font-size: 20px;
    }
    .tarif{
        display: flex;
        margin-right:80px;
        margin-left: 80px;
        justify-content: start;
        font-size: 20px;
    }
    .titre1{
        font-size: 40px;
        margin-right: 180px;
    }
    .jour1, .tarif1{
        font-size: 25px;
    }

    .jour1{
        margin: 5px 15% 5px auto;
    }
    .prix1{
        padding-top: 30px;
        font-size: 20px;
    }
    .tarif1{
        display: flex;
        margin-right:80px;
        margin-left: 80px;
        justify-content: start;
        font-size: 20px;
    }
    .home{
        right: 80%;
    }
    .spectacle, .home{
        opacity: 70%;
        font-size: 20px;
    }
    
}
@media (min-width: 1900px) and (max-width: 1990px){
    .grid-container{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 20% 35% 35% 10%;
        grid-template-areas: 
        'l_header header R_header'
        'debout debout debout'
        'sol sol sol'
        'l_footer footer r_footer';
    }
    header{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .banniere{
    position: relative;
    right: 0;
    bottom: 0;
    font-size: 100px;
   }
   .social{
    grid-area: R_header;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
   }
   .facebook, .twitter, .instagram{
    width: 30px;
    margin: 5px;   
    }
    .PersoDebout{
        width: 125px;
        height: 371px;
        left: -30px;
        top: -215px;
    }
    .debout{
        width: 600px;
        height: 180px;
        left: 100px;
        top: 80px; 
    }
    .PersoSol{
        width: 339px;
        height: 462px;
        right: -90px;
        top: -290px;  
    }
    .breakdance{
        width: 600px;
        height: 180px;
        bottom: -80px;
        right: -50%;
        
    }
    .titre{
        font-size: 30px;
    }
    .jour, .tarif{
        font-size: 20px;
    }
    .tarif{
        margin-right: 40%;
    }
    .jour{
        margin: 0px 15% 40px auto;
    }
    .home{
        right: 75%;
    }
    .spectacle, .home{
        opacity: 70%;
        font-size: 20px;
    }
}