@media screen and (min-width: 700px ) {
    .perso2{
        width: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .grid-container{
        display: grid;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 40% 40% 20%;
        grid-template-areas: 
        'G_header header social'
        'l_main main main'
        'contact footer r_footer';
    }
    header{
        grid-area: header;
    }
    .banniere{
        font-size: 120px;
        justify-content: end;
    }
    .social{
        grid-area: social;
        margin-bottom: 10px;
    }
    .contact{
        grid-area: contact;
        margin-bottom: 10px;
    }
    .school, .even{
        grid-area: r_footer;
        display: inline;
        position: relative;
    }
    .cours{
        position: absolute;
        bottom: 0;
        height: 50px;
    }
    .titreAsso{
        grid-area: footer;
        position: relative;
        width: 450px;
        height: 80px;
        bottom: 0;
    }
    .asso{
        /* grid-area: footer; */
        rotate: 90deg;
        font-size: 30px;
        margin: 0;
        position: absolute;
        right: 0;
        justify-content: center;
        align-items: end;
       
    }
    main{
        grid-area: main;
        position: relative;
        }    
    .perso2{
        position: absolute;
        width: 600px;
        top: -300px;
    }
    .colonne1{
    
    }
    .colonne2{
        position: absolute;
        width: 5px;
        height: 50px;
        background-color: white;
        bottom: 250px;
        right: 0;
        opacity: 0;
        
        animation:  4s ease-out 3s forwards expand4;
    }
    @keyframes expand4 {
        from{
            opacity: 0;
            right: 0;
            transform: scalex(0);
            transform-origin: right;
        }
        to{
        transform-origin: right;
        transform: scaleX(200);
        /* transition: transform 5s;
        transition-delay: 4s; */
        opacity: 100%; 
        }
    } 
    
    .colonne3{
        position: absolute;
        width: 5px;
        height: 60px;
        background-color: white;
        bottom: 150px;
        right: 0;
        opacity: 0;
        
        animation:  4s ease-out 3s forwards expand5;
    }
    @keyframes expand5 {
        from{
            opacity: 0;
            right: 0;
            transform: scalex(0);
            transform-origin: right;
        }
        to{
            transform-origin: right;
        transform: scaleX(250);
        /* transition: transform 5s;
        transition-delay: 4s; */
        opacity: 100%; 
        }
    } 
}