@media (min-width: 400px) and (max-width: 450px){
    .background{
        width: 380px;
    }
    .kota{
        left: 150px;
    }
    .j2{
        left: 186px;
    }
    .j3{
        top: 153px;
        left: 340px;
    }
    .carte{
        left: 195px;
    }
    .danseurD{
        left:290px;
    }
}
@media (min-width: 700px) and (max-width: 1000px){
    .banniere{
        font-size: 80px;
    }
    .queens, .kota{
        width: 200px;
    }
    .dysdys{
        width: 180px;
        top: 0px;
        right: 50px;
    }
    .kota{
        top: 0px;
        left: 290px;
    }
    .j1{
        top: 250px;
        left: 85px;
        font-size: 20px;
    }
    .j2{
        top: 270px;
        left: 353px;
        font-size: 25px;
    }
    .j3{
        top: 235px;
        left: 550px;
        font-size: 25px;
    }
    h2{
        top: -20px;
        font-size: 40px
    }
    .background{
        height: 80px;
        top: 110px;
    }
    .lieu{
        background: radial-gradient(225.72% 122.87% at 47.48% 29.89%, #F5BA30 37.43%, rgba(245, 186, 48, 0.00) 100%);
        width: 400px;
        height: 350px;
        position: relative;
        top: 30px;
        padding-left: 10px;
        border-radius: 10px;
        margin-left: 20px;
    }
    .montpellier, .paris, .rennes{
        font-size: 20px;
    }
    .carte{
        width: 400px;
        position: absolute;
        left: 300px;
        top: 25px;
        filter: drop-shadow(0px 7px 8px #000000);
        -webkit-filter: drop-shadow(0px 7px 8px #000000);
    }
    .texte{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .danseurD{
        grid-area: Rdescript;
        position: absolute;
        width: 200px;
        left:510px;
        top: 0;
    }
    .danseurG{
        position: absolute;
        width: 180px;
        left: 5px;
        top: 0;
    }
    .home, .cours{
        font-size: 20px;
        top: 40px;
    }
    .home{
        left: 110px;
       
    }
    .cours{
        left: 50px;
       
    }
}
@media screen and (min-width: 1000px) and (max-width: 1900px){
    .grid_container{
        background: radial-gradient(290% 290.78% at 50.00% 48.09%, #010101 0%, rgba(1, 1, 1, 0.00) 100%);
        margin: 0;
        height: 100vh;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 25% 25% 55% 65% 45% 10%;
        grid-template-areas: 
        'header header header'
        'title title title'
        'juge juge juge'
        'localisation localisation localisation'
        'descrip descrip descrip'
        'l_footer footer r_footer';
    }
    .banniere{
        font-size: 150px;
    }
    .titre{
        font-size: 35px;
    }
    .soulignier{
        background: radial-gradient(225.72% 122.87% at 47.48% 29.89%, #F5BA30 37.43%, rgba(245, 186, 48, 0.00) 100%);
        width: 670px;
        height: 30px;
        border-radius: 10px;
        position: relative;
        top: 30px;
    }
    .queens, .kota{
        width: 250px;
    }
    .dysdys{
        width: 220px;
        top: 70px;
        right: 300px;
    }
    .kota{
        top: 100px;
        left: 560px;
    }
    .queens{
        top: 85px;
        left: 250px;
    }
    .background{
        width: 800px;
        height: 170px;
        top: 200px;
    }
    .j1{
        top: 380px;
        left: 340px;
        font-size: 25px;
    }
    .j2{
        top: 425px;
        left: 640px;
        font-size: 30px;
    }
    .j3{
        top: 360px;
        left: 940px;
        font-size: 30px;
    }
    h2{
        top: 50px;
        font-size: 50px
    }
    .lieu{
        background: radial-gradient(225.72% 122.87% at 47.48% 29.89%, #F5BA30 37.43%, rgba(245, 186, 48, 0.00) 100%);
        width: 600px;
        height: 350px;
        position: relative;
        top: 200px;
        left: 330px;
        padding-left: 10px;
        border-radius: 10px;
        margin-left: 20px;
    }
    .montpellier, .paris, .rennes{
        font-size: 20px;
    }
    .carte{
        width: 400px;
        position: absolute;
        left: 600px;
        top: 120px;
        filter: drop-shadow(0px 7px 8px #000000);
        -webkit-filter: drop-shadow(0px 7px 8px #000000);
    }
    .texte{
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .danseurD{
        grid-area: Rdescript;
        position: absolute;
        width: 300px;
        left:960px;
        top: -70px;
    }
    .danseurG{
        position: absolute;
        width: 280px;
        left: 40px;
        top: -50px;
    }
    .home, .cours{
        font-size: 25px;
        top: 15px;
        opacity: 60%;
    }
    .home{
        left: -90px;
       
    }
    .cours{
        left: 450px;
    }
}

@media screen and (min-width: 1700px){
    .kota{
        left: 730px;
    }
    .dysdys{
        top: 110px;
        right: 480px;
    }
    .queens{
        top: 120px;
        left: 430px;
    }
    .j1{
        top: 410px;
        left: 517px;
        font-size: 25px;
    }
    .j2{
        top: 430px;
        left: 810px;
        font-size: 30px;
    }
    .j3{
        top: 400px;
        left: 1100px;
        font-size: 30px;
    }
    .lieu{
        left: 500px;
    }
    .carte{
        left: 800px; 
    }
    .danseurD{
        left:1160px;
    }
    .danseurG{
        position: absolute;
        width: 280px;
        left: 180px;
        top: -50px;
    }
}