::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
} 
.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 35% 35% 10%;
    grid-template-areas: 
    'header header header'
    'debout debout debout'
    'sol sol sol'
    'l_footer footer r_footer';
}

body{
    background: radial-gradient(290% 290.78% at 50.00% 48.09%, #010101 0%, rgba(1, 1, 1, 0.00) 100%);
    margin: 0;
    height: 100vh;
}
header{
    grid-area: header;
    position: relative;
}
.social{
    display: none;
}

.banniere{
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin: 0;
}

.PersoDebout{
    grid-area: debout;
    position: absolute;
    width: 89px;
    height: 183px;
    left: -30px;
    top: -100px;
}
.PersoSol{
    grid-area: sol;
    position: absolute;
    width: 154px;
    height: 176px;
    right: -40px;
    top: -130px;    
}

.debout{
    grid-area: debout;
    position: relative;
    left: 50px;
    top: 60px;     
}

.breakdance{
    grid-area: sol;
    position: relative;
    bottom: -80px;
    right: -30px; 
}

.debout, .breakdance{
    background: radial-gradient(225.72% 122.87% at 47.48% 29.89%, #F5BA30 37.43%, rgba(245, 186, 48, 0.00) 100%);
    border-radius: 10px;
    width: 300px;
    height: 115px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.titre, .titre1{
    font-size: 20px;
    margin: 5px 25% 5px auto;
    
}
.jour, .jour1{
    margin: 0px 8% 15px auto;
    font-size: 15px;
}
.prix, .prix1{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}
.tarif, .tarif1{
    display: flex;
    margin-right: 15%;
    margin-left: 5px;
    justify-content: start;
    
}


.spectacle{
    color: white;
    font-family: 'Permanent Marker', cursive;
    grid-area: l_footer;
    position: absolute;
    left: 20px;
    bottom: 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 1s;
    
}

.home{
    color: white;
    font-family: 'Permanent Marker', cursive;
    grid-area: r_footer;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-color 1s;
}
.home:hover{
    border-bottom-color: white;
}
.spectacle:hover{
    border-bottom-color: white;
}
.localisation{
    display: none;
}