::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} 
.grid-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 80% 8%;
    grid-template-areas: 
    'header header header'
    'l_aside main r_aside'
    'l_footer main r_footer';
}
header, main, footer{
    display: grid;
}
header{
    grid-area: header;
    display: grid;
    margin: 0;
    padding: 0;
    
}
body{
    background: radial-gradient(290% 290.78% at 50.00% 48.09%, #010101 0%, rgba(1, 1, 1, 0.00) 100%);
    margin: 0;
    height: 100vh;
}

.banniere{
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    opacity: 0;
    animation: titre 3s ease-out 7.5s forwards;

}

.perso2{
    width: 400px;
   position: absolute;
   top: 10px;
   left: -120px;
   opacity: 0;
   animation: perso 1.5s ease-out forwards;

}

main{
    grid-area: main;
    position: relative;
    width: 165px;
    height: 805px;
    bottom: 5px;
}
.colonne1{
    display: flex;
    background: radial-gradient(225.72% 122.87% at 47.48% 29.89%, #F5BA30 37.43%, rgba(245, 186, 48, 0.00) 100%);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 165px;
    height: 5px;
    animation: expand 3.5s ease-out forwards;
}


 .colonne2{
    position: absolute;
    width: 30px;
    height: 0px;
    background-color: white;
    bottom: 0px;
    right: 20px;
    animation:  4s ease-out 3s forwards expand2;
}


.colonne3{
    position: absolute;
    width: 25px;
    height: 0px;
    background-color: white;
    bottom: 0px;
    right: 60px;
    animation:  4s ease-out 3s forwards expand3;
}

.asso{
    color: white;
    font-family: 'Permanent Marker', cursive;
    white-space: nowrap;
    position: absolute;
    transform: rotate(-90deg);
    margin: 0;
    right: -20px;
    top: 490px;
    opacity: 0;
    animation: titre 3s ease-out 7.8s forwards;
}


.contact{
    grid-area: l_aside;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    position: relative;
}

.house, .mobile, .mail{
    padding: 10px 5px;
    
}

/* animation icone */
.house{
    width: 50px;
    position: absolute;
    opacity: 0;
    animation: droite 2s ease-out 6s forwards;
}

.adresse{
    color: white;
    position: absolute;
    padding: 16px;
    text-decoration: none;
}
/* animation rotation house/adresse */

.localisation{
    background-color: transparent;
    perspective: 1000px;
    width: 124px;
    height: 86px;
    position: absolute;
    bottom: 110px;
    left: 0px;
}
.inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.localisation:hover .inner{
    transform: rotateY(180deg);
}

.house, .adresse{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.adresse{
    transform: rotateY(180deg);
    text-align: center;
}

/* animation icone */
.mobile{
    width: 50px;
    position: absolute;
    opacity: 0;
    animation: droite2 2s ease-out 6.5s forwards;
    padding: 0;

}


/* animation rotation mobile/numero */

.tel{
    background-color: transparent;
    width: 110px;
    height: 90px;
    perspective: 1000px;
    bottom: 26px;
    left: 5px;
    position: absolute;
}
.inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.tel:hover .inner{
    transform: rotateY(180deg);
}
.mobile, .numero{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.numero{
    transform: rotateY(180deg);
    text-decoration: none;
    color: white;
    top: 15px;
    left: 0px;
   

}


.mail{
    width: 35px;
    position: absolute;
    opacity: 0;
    animation: droite3 2s ease-out 7s forwards;
}

/* animation rotation mail/email */
.email{
    background-color: transparent;
    width: 124px;
    height: 50px;
    perspective: 1000px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.email:hover .inner{
    transform: rotateY(180deg);
}
.mail, .adrmail{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adrmail{
    transform: rotateY(180deg);
    text-decoration: none;
    color: white;
    top: 15px;

}

.social{
    grid-area: r_aside;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    position: relative;
}

.facebook, .twitter, .instagram{
    width: 35px;   
}
.facebook{
    position: absolute;
    bottom: 140px;
    right: 0;
    opacity: 0;
    animation: gauche 2s ease-out 6s forwards;
}

.twitter{
    position: absolute;
    bottom: 70px;
    right: 0;
    opacity: 0;
    animation: gauche2 2s ease-out 6.5s forwards;

}

.instagram{
    position: absolute;
    bottom: 7px;
    right: 0;
    opacity: 0;
    animation: gauche3 2s ease-out 7s forwards;

}


.cours, .evenement{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
}
.school{
    grid-area: r_footer;
    position: relative;
    perspective: 1000px;
}
.cours{
    position: absolute;
    text-decoration: none;
    top: 20px;
    left: 25px;
    /* border-radius: 10px;
    border: 1px solid #FFF;
    background: rgba(1, 1, 1, 0.20); */
    padding-left: 5px;
    padding-right: 5px;
    /* box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    font-size: 17px;
    opacity: 0;
    animation: titre 3s ease-out 7.8s forwards;
}
@keyframes titre {
    to{
        opacity: 100%;
    }   
}
.cours:hover{
    transform: translateZ(20px);
    cursor: pointer;
}

.even{
    grid-area: l_footer;
    position: relative;
    perspective: 1000px;
}
.evenement{
    position: absolute;
    text-decoration: none;
    top: 20px;
    left: 5px;
    /* border-radius: 10px;
    border: 1px solid #FFF; */
    /* background: rgba(1, 1, 1, 0.20); */
    padding-left: 5px;
    padding-right: 5px;
    /* box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    font-size: 17px;
    opacity: 0;
    animation: titre 3s ease-out 7.8s forwards;
}
@keyframes titre {
    to{
        opacity: 100%;
    }   
}
.evenement:hover{
    transform: translateZ(20px);
    cursor: pointer;
}
